# https://github.com/github/gitignore/blob/master/Python.gitignore
__pycache__/
*.pyc
*.pyd
*.so
.ipynb_checkpoints
_build
build/
dist/
*.pkl
*.hd5
*.csv
.env
.vim
.nvimrc
.vscode
*.egg-info/
.vscode/
*.swp
.idea/
